<app-head>
    <ng-container class="h2">Services</ng-container>
    <ng-container class="p">home - <span class="-span"
            style="color: #CD6155; word-spacing: 0 !important;">Services</span></ng-container>
</app-head>

<section class="container " style="padding-top: 12%; padding-bottom: 5%;">
    <div class="row">
        <div class="col-12 col-lg-6 pt-4 wow slideInLeft slow">
            <p class="first-p">TURN A HOME INTO YOUR SPACE</p>
            <h2 class="first-h2 font-title pt-3">Let's talk interior design</h2>
            <p class="font2 pt-3">Interactively procrastinate high-payoff content without backward-compatible data.
                Quickly cultivate optimal processes and tactical architectures. Completely iterate covalent strategic
                theme areas via accurate e-markets. Globally incubate standards compliant channels before scalable
                benefits.
            </p>
        </div>
        <div class="col-12 col-lg-6 wow zoomIn">
            <img src="assets/services/service1.jpg" width="100%" height="">
        </div>
    </div>
</section>
<!----
<hr class="" align="center" width="80%">

<section class="container" style="padding-top: 5%; padding-bottom: 5%;">
    <div class="row pt-3">
        <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.0s;">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <i class="fas fa-file-signature fa-3x service-i"></i>
                        </div>
                        <div class="pl-3">
                            <h5 class="service-h5">Step 1</h5>
                            <p class="pt-3 service-p">fill application and<br>book meeting<br><a
                                    [routerLink]="['/contact']"  class="service-a btn rounded-circle">GO</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <i class="fas fa-search-location fa-3x service-i"></i>
                        </div>
                        <div class="pl-3">
                            <h5 class="service-h5">Step 2</h5>
                            <p class="pt-3 service-p">Preview Site
                                <br>and assay
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:1s;">
            <div class="card border-0 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="">
                            <i class="fas fa-hands-helping fa-3x service-i"></i>
                        </div>
                        <div class="pl-3">
                            <h5 class="service-h5">Step 3</h5>
                            <p class="pt-3 service-p">Contracting and<br>start of implementation
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:1.5s;">
            <div class="card border-0  mb-3">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <i class="fas fa-calendar-check fa-3x service-i"></i>
                        </div>
                        <div class="pl-3">
                            <h5 class="service-h5">Step 4</h5>
                            <p class="pt-3 service-p">delivery
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!---card-->
<section class="container-fluid" style="box-shadow: 0px 4px 12px 0px black;">
    <div class="row">
        <div class="col-12 col-lg-4 p-0 overflow-hidden overlay-card zoom">
            <img class="overlay-img img-fluid" src="assets/services/service4.jpg" width="100%">
            <div class="overlay-c "></div>
            <div class="overlay-div ">
                <h6 class="overlay-card-div-h6">THE MAKING OF AN OFFICE</h6>
                <h4 class="pt-4 overlay-card-div-h4">Not just a desk<br>
                    and dozen chairs</h4>
                <a [routerLink]="['/about']" class="srv-a btn rounded-pill">FIND OUT MORE</a>
            </div>
        </div>
        <div class="col-12 col-lg-4 p-0 overflow-hidden overlay-card zoom text-right">
            <img class="overlay-img img-fluid" src="assets/services/service5.jpg" width="100%">
            <div class="overlay-c"></div>
            <div class="overlay-div-ce">
                <h6 class="overlay-card-div-h6-ce">REFERENCES</h6>
                <h4 class="pt-4 overlay-card-div-h4 text-light">What we did<br>
                    and for whom?</h4>
                <a [routerLink]="['/about']"  class="srv-a-ce btn rounded-pill">FIND OUT MORE</a>
            </div>
        </div>
        <div class="col-12 col-lg-4 p-0 overflow-hidden overlay-card zoom">
            <img class="overlay-img img-fluid" src="assets/services/service6.jpg" width="100%">
            <div class="overlay-c "></div>
            <div class="overlay-div ">
                <h6 class="overlay-card-div-h6">THINK AHEAD</h6>
                <h4 class="pt-4 overlay-card-div-h4">Re-imagine<br>
                    your space</h4>
                <a [routerLink]="['/about']"  class="srv-a btn rounded-pill">FIND OUT MORE</a>
            </div>
        </div>
    </div>
</section>
<!----service-->

<section style="background: url('assets/services/service2.jpg');padding-top: 5%; padding-bottom: 5%;">
    <section class="container-fluid" style="padding: 5% 5% 10% 5%;">
        <div class="col-12 col-lg-6 p-0 wow slideInLeft">
            <p class="services-p1">IN A NUTSHELL</p>
            <h2 class="services-h2 font-title">Our services</h2>
            <p class="services-p2 font2 pt-3">Credibly reintermediate backend ideas for cross-platform models.
                Continually
                reintermediate integrated processes through technically sound intellectual capital. Holistically foster
                superior methodologies without market-driven best practices.</p>
        </div>
        <hr class="mt-5" align="center" width="80%">
        <div class="row pt-5">
            <div class="col-6 col-lg-3  wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s1.png" width="25%">
                    <h4 class="service-card2-h4">Project Analysis</h4>
                    <p class="service-card2-p">Credibly innovate granular internal or ``organic`` sources whereas high
                        standards in
                        web-readiness. Energistically scale future-proof core competencies.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s2.png" width="25%">
                    <h4 class="service-card2-h4">Project Design</h4>
                    <p class="service-card2-p">Interactively procrastinate high-payoff content without
                        backward-compatible data. Quickly cultivate optimal processes and tactical architectures.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s3.png" width="25%">
                    <h4 class="service-card2-h4">Production and Building</h4>
                    <p class="service-card2-p">Globally incubate standards compliant channels before scalable benefits.
                        Quickly disseminate superior deliverables applications.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s4.png" width="25%">
                    <h4 class="service-card2-h4">Furniture design</h4>
                    <p class="service-card2-p">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
                        coordinate e-business applications through revolutionary catalysts for change.</p>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s5.png" width="25%">
                    <h4 class="service-card2-h4">Office Design</h4>
                    <p class="service-card2-p">Synergistically evolve 2.0 technologies rather than just in time
                        initiatives. Quickly deploy strategic networks with compelling e-business.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s6.png" width="25%">
                    <h4 class="service-card2-h4">Design Consultancy</h4>
                    <p class="service-card2-p">Dynamically target high-payoff intellectual capital for customized
                        technologies. Objectively integrate emerging core competencies.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s7.png" width="25%">
                    <h4 class="service-card2-h4">Home Advising</h4>
                    <p class="service-card2-p">Enthusiastically mesh long-term high-impact infrastructures vis-a-vis
                        efficient customer service. Professionally fashion wireless leadership.</p>
                </div>
            </div>
            <div class="col-6 col-lg-3 wow zoomIn" style="animation-delay:.5s;">
                <div class="service-card2">
                    <img src="assets/services/s8.png" width="25%">
                    <h4 class="service-card2-h4">Remodeling</h4>
                    <p class="service-card2-p">Appropriately empower dynamic leadership skills after business portals.
                        Globally myocardinate interactive supply chains with distinctive quality vectors.</p>
                </div>
            </div>
        </div>
    </section>
</section>