<section style="background: url('assets/home1.jpg');  background-size: cover;">
    <section class="container" style=" padding-top: 8%; padding-bottom: 5%;">
        <div class="row">
            <div class="col-12 col-lg-8 pt-4">
                <p class="step-p">MAKING A FUNCTIONAL HOME</p>
                <h2 class="step-h2 font-title pt-3">Meet our Innovators and Designers</h2>
                <p class="step-p2 pt-5">
                </p>
                <a  [routerLink]="['contact']" class="steps-a btn rounded-pill" style="padding: 2% 5% 2% 5%;">contact
                    us</a>
            </div>
            <div class="ss col-12 col-lg-4 " style="padding-left:4% ;">
                <div class="col-12  col-lg-12 row wow zoomIn" style="animation-delay:0s;">
                    <div>
                        <i class="fas fa-file-signature fa-3x steps-i"></i>
                    </div>
                    <div class="pl-3">
                        <h5 class="steps2-h5">Fill an application and<br>Book meeting
                        </h5>
                        <p class="pt-3 steps2-p">step 1
                            <a  [routerLink]="['contact']" class="steps-a btn rounded-pill"
                            style="padding: 2% 8% 2% 8%;">go
                            </a>
                        </p>
                    </div>
                </div>
                <hr class="" align="center" width="100%">
                <div class="col-12 col-lg-12 row wow zoomIn" style="animation-delay:.5s;">
                    <div>
                        <i class="fas fa-search-location fa-3x steps-i"></i>
                    </div>
                    <div class="pl-3">
                        <h5 class="steps2-h5">Site visit 
                            <br>and preview</h5>
                        <p class="pt-3 steps2-p">step 2
                        </p>
                    </div>
                </div>
                <hr class="" align="center" width="100%">
                <div class="col-12 col-lg-12 row wow zoomIn" style="animation-delay:.5s;">
                    <div>
                        <i class="fas fa-hands-helping fa-2x steps-i" style="font-size: 40px;"></i>
                    </div>
                    <div class="pl-3">
                        <h5 class="steps2-h5">Contracting and start<br> of the implementation</h5>
                        <p class="pt-3 steps2-p">step 2
                        </p>
                    </div>
                </div>
                <hr class="" align="center" width="100%">
                <div class="col-12 col-lg-12 row wow zoomIn" style="animation-delay:.5s;">
                    <div>
                        <i class="fas fa-calendar-check fa-3x steps-i" style="font-size: 60px;"></i>
                    </div>
                    <div class="pl-3">
                        <h5 class="steps2-h5">delivery<br>On time</h5>
                        <p class="pt-3 steps2-p">step 4  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>